html {
    backdrop-filter: blur(5px);
}

input, textarea {
    border-radius: 5px;
}

.align {
    margin-top: 8em;
    margin-left: 250px;
}

#Form {
    padding-top: 50px;
}

h1 {
    font-weight: bold;
}

body {
    background-image: url("https://images.unsplash.com/photo-1465401683404-bde9091abe83?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=720&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(2px);
    color: whitesmoke;
    object-fit: cover;
    overflow: hidden;
}

input {
    opacity: 0.8;
}

.form-group {
    font-weight: bold;
    
}

#loginForm {
    width: 900px;
}

span {
    margin-left: 111px;
}


