
@{
    ViewBag.Title = "Amount_Zero";
}

<link rel="stylesheet" href="~/Content/Amount_zero.css" />
<body>
    <h2>You haven't Selected a Single Seat</h2>
    <a class="btn btn-info" href="~/Route/BusRoutes/">Go Back</a>
</body>


