
@{
    ViewBag.Title = "Success";
}
<style>
    .success1 {
        margin-left: 45%;
        margin-top: 13%;
        font-weight: bold;
    }

    .success2 {
        margin-left: 41%;
        /*   margin-top: 18%;*/
        font-weight: bold;
    }
</style>
<link rel="stylesheet" href="~/Content/style.css" />
<h1 class="success1">Success</h1>
<h2 class="success2">Happy Travelling!</h2>



<div class="loop-wrapper">
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="rock"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
</div>


